body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #FFFDF9;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2B2B2B;
}

.header {
  width: 80%;
  background-color: #FFFDF9;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #2B2B2B;
  box-shadow: 5px 5px 0px 0px #2B2B2B;
}

h1,
h2 {
  color: #2B2B2B;
}

form {
  margin-bottom: 20px;
}

#month-selector label,
#year-selector label {
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #2B2B2B;
  border-radius: 5px;
  color: #2B2B2B;
  background-color: #FFFDF9;
  width: 80%;
}

pre {
  white-space: pre-wrap;
}

input[type="button"] {
  padding: 10px 20px;
  border: none;
  background-color: #2B2B2B;
  color: #FFFDF9;
  cursor: pointer;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: #1A1A1A;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #2B2B2B;
  color: #FFFDF9;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #1A1A1A;
}

.button-container {
  display: flex;
  justify-content: center;
}